html, body {
    margin: 0;
    padding: 0;
  }
  
  header {

    /* z-index: visible; */
    /* position: fixed; */
    width: 100%;
    background-color: #333333;
  }
  
  nav {
    background-color: #fff;
    /* z-index: visible; */
    /* top: 80px; */

    margin: 0;
    height: 80px;
    padding: 20px 0;
  }
  

  .logo {
    width: auto;
    height: 120px;
    position: absolute;
    left:0;
    top:0;
  }



  nav li {
    text-decoration:none;
    padding-right: 30px;
    letter-spacing: 2px;
    z-index: visible;
    float: right;
    display: inline-block;
    width: 80px;
    padding-top:14px;
    color:black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 16px;
  }

  h1 {
    
    top: 0;
  }

  
  main {
    /* position: relative; */
    text-align: center;
  }
  
  main h1 {
    /*border: 1px solid red;*/
    color: red;
    font-family: 'Arial', sans-serif;
    font-weight: 550;
    font-size: 50px;
    margin-top: 0px;
    padding-top: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: -4px;
  }

  footer {
    background-color: black;
    color: #fff;
    padding: 30px 0;
  }
  
  footer p {
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    line-height: 20px;
    text-transform: uppercase;
    font-size: 15px;
  }
  

  .grid {
    display: grid;
    grid-template-areas: "a b"
    "c d" ;
  }

  .a {
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 20px;
    padding-left: 30px;
  }

  .b {
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 20px;
    padding-left: 12px;
  }
  .c {
    padding-left: 30px;
  
  }
  .d img {
    padding-left: 10px;
    height: 30px;
    width: auto;
  }


  .visit {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
  }
  .container {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
  }

  span {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    /* border: 1px solid red; */
    color: midnightblue;
    margin-bottom: 280px;
  }
  
  .jumbotron {
    padding-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    opacity: 0.95;
}

.jumbotron p {
  /* float: left; */
  margin-top: 50px;
  /*border: 1px red solid;*/
  /*text-indent: 20px;*/
  font-family: 'Arial', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 0px 50px;
  margin-bottom: 40px;
}

  
  .btn-main {
    background-color: rgba(0, 0, 0,0.8);
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .btn-default {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;  
    margin-bottom: 20px;      
  }
  
  .supporting {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .gallery {
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    padding-top: 80px;
    padding-bottom: 100px;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: center;
    display: grid;
    grid-gap: 0px 100px;
    grid-template-areas: "f deli j";
    grid-template-rows: 500px;
  }
  .f {
    position: relative;
  }
  .deli {

  }
  .j {

  }
  
  
  .supporting .f,
  .supporting .deli,
  .supporting .j {
    border: 3px solid red;
    display: inline-block;
    width: 200px;
    height: 200px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
  }
  
  .gallery img {
    cursor: pointer;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    max-width: 315px;
    height: 315px;
    margin: 0 0 15px 0;
    /*border: 1px solid #2f2927;*/
  }
  
  .gallery h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
  }
  
  .gallery p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  
  .gallery a {
    position: relative;
    background-color: white;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #333333;
  }
  
  @media (max-width: 500px) {
    main h1 {
      font-size: 50px;
      padding: 0 40px;
    }
  

  }

  .text-block {
    /*border: 1px solid red;*/
    position: relative;


    bottom: 0px;
    right: 0px;
    background-color:transparent;
    color:black;
    padding-left: 0px;
    padding-right: 0px;
    width: 315px;
    height: auto;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    display: block;

  }

  p {
    font-family: Arial;
  }

  a{
    color: black;
  }